USE [DB_PRACTICAS]
/****** Object:  Table [dbo].[razonTrx]    Script Date: 7/13/2023 11:31:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[razonTrx](
	[id] [varchar](8) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [razonTrx_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipoTrx]    Script Date: 7/13/2023 11:31:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipoTrx](
	[id] [varchar](8) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [tipoTrx_pk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[razonTrx] ([id], [descripcion]) VALUES (N'0', N'ninguna')
INSERT [dbo].[razonTrx] ([id], [descripcion]) VALUES (N'040103', N'PAGO EN MEDIOS PROPIOS')
INSERT [dbo].[razonTrx] ([id], [descripcion]) VALUES (N'040303', N'PAGO EN BANCOS SOCIOS')
GO
INSERT [dbo].[tipoTrx] ([id], [descripcion]) VALUES (N'01', N'DEVOLUCION NC')
INSERT [dbo].[tipoTrx] ([id], [descripcion]) VALUES (N'06', N'DEVOLUCION')
INSERT [dbo].[tipoTrx] ([id], [descripcion]) VALUES (N'08', N'INTERESES CORRIENTES')
GO
ALTER TABLE [dbo].[pr_transacciones]  WITH CHECK ADD  CONSTRAINT [fk_RazonTrx] FOREIGN KEY([pr_razon])
REFERENCES [dbo].[razonTrx] ([id])
GO
ALTER TABLE [dbo].[pr_transacciones] CHECK CONSTRAINT [fk_RazonTrx]
GO
ALTER TABLE [dbo].[pr_transacciones]  WITH CHECK ADD  CONSTRAINT [fk_tipoTrx] FOREIGN KEY([pr_tipoTrx])
REFERENCES [dbo].[tipoTrx] ([id])
GO
ALTER TABLE [dbo].[pr_transacciones] CHECK CONSTRAINT [fk_tipoTrx]
GO
/****** Object:  StoredProcedure [dbo].[sp_insertarNeysser]    Script Date: 7/13/2023 11:31:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
DROP PROCEDURE IF EXISTS [dbo].[sp_insertarNeysser]
GO
go
create or alter procedure sp_insertarNeysser @cantidadRegistros INT
as
begin
    TRUNCATE TABLE pr_transacciones;
    declare @i INT = 1;
    while @i <= @cantidadRegistros
        begin
            DECLARE @valorRandomTipo varchar(8) =
                (SELECT TOP 1 id
                 FROM tipoTrx
                 ORDER BY NEWID());
            DECLARE @razonDescripcion varchar(8) =
                (SELECT TOP 1 id
                 FROM razonTrx
                 ORDER BY NEWID());
            DECLARE @RandomNumberCheck BIGINT;
            SET @RandomNumberCheck = ABS(CAST(CAST(NEWID() AS VARBINARY) AS BIGINT)) % 9000000000 + 1000000000000000;
            DECLARE @id int = @i;
            DECLARE @date DATETIME = DATEADD(SECOND, 1, GETDATE());
            DECLARE @comercio int = @i;
            DECLARE @tarjeta varchar(20) = @RandomNumberCheck;
            DECLARE @valor money = 0.00 + @i;         
            DECLARE @tipoTrx varchar(8) = @valorRandomTipo;
            DECLARE @razon varchar(8) = @razonDescripcion;
            DECLARE @autoriza varchar(4) = CAST(@i AS VARCHAR(4));
            insert into pr_transacciones
                -- (pr_id, pr_fecha, pr_comercio, pr_tarjeta, pr_valor, pr_tipoTrx, pr_razon, pr_autoriza)
            values (@i, @date, @comercio, @tarjeta, @valor, @tipoTrx, @razon, @autoriza);
            set @i = @i + 1;
        end
    select * from pr_transacciones;
end;
go

